---
import html5 from "../assets/Img/Certificados/html5.png";
import cssmaquetado from "../assets/Img/Certificados/cssmaquetado.png";
import jsbasic from "../assets/Img/Certificados/jsbasic.png";
import vsc from "../assets/Img/Certificados/vsc.png";
import javadesde0 from "../assets/Img/Certificados/javadesde0.png";
import proyecto1 from "../assets/Img/Proyectos/proyecto1.jpg";
import proyecto2 from "../assets/Img/Proyectos/proyecto2.jpg";
import "../styles/main.css";
const city = 'Madrid'; 
---

<main class="main-container">
    <section class="section-skill" id="section-skill">
        <div class="section-skill-container">
            <div class="section-skill-content">
                <h3>Skills</h3>
                <p class="p-generic-text-skills">
                    Over time, when I became interested in web creation, I began
                    to acquire knowledge mainly of HTML and later CSS. I learned
                    other languages ​on my own, both through my school career in
                    the grades and in the certificate courses in which I was
                    able to polish previous skills.
                </p>
                <div class="skill-card">
                    <article class="cards-skill">
                        <div class="skill-card-img">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
                                alt="logo html5"
                            />
                        </div>
                    </article>
                    <article class="cards-skill">
                        <div class="skill-card-img">
                            <img
                                src="https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/0631cc0b-4927-4ecb-8160-5855613b0191/image.png?t=1731569256"
                                alt="logo css3"
                            />
                        </div>
                    </article>
                    <article class="cards-skill">
                        <div class="skill-card-img">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/640px-Unofficial_JavaScript_logo_2.svg.png"
                                alt="logo js"
                            />
                        </div>
                    </article>
                    <article class="cards-skill">
                        <div class="skill-card-img">
                            <img
                                src="https://cdn.iconscout.com/icon/free/png-256/free-python-logo-icon-download-in-svg-png-gif-file-formats--brand-development-tools-pack-logos-icons-226051.png?f=webp&w=256"
                                alt="logo python"
                            />
                        </div>
                    </article>
                    <article class="cards-skill">
                        <div class="skill-card-img">
                            <img
                                src="https://blog.desafiolatam.com/wp-content/uploads/2018/05/java-logo.png"
                                alt="logo java"
                            />
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section-proyect" id="section-proyect">
        <div class="section-proyect-content">
            <h3>Projects</h3>
            <p class="p-generic-text-proyect">
                I did small projects mainly with HTML, CSS and JavaScript, but
                over time I started implementing new frameworks, like Tailwind
                CSS.
            </p>
            <section class="proyect-card">
                <article class="cards-proyect">
                    <div class="proyect-card-img">
                        <a
                            href="proyectos/ZeniberWeb2.0/index.html"
                            target="_blank"
                        >
                            <img src={proyecto1.src} alt="proyecto 1" />
                        </a>
                    </div>
                    <div class="proyect-card-description">
                        <a href="#section-skill" class="proyect-card-a"
                            ><div>Astro</div></a
                        >
                        <a href="#section-skill" class="proyect-card-a"
                            ><div>TailwindCSS</div></a
                        >
                        <a href="#section-skill" class="proyect-card-a">
                            <div>JavaScript</div>
                        </a>
                    </div>
                </article>
                <article class="cards-proyect">
                    <div class="proyect-card-img">
                        <a
                            href="proyectos/WebPractica2/index.html"
                            target="_blank"
                        >
                            <img src={proyecto2.src} alt="proyecto 2" />
                        </a>
                    </div>
                    <div class="proyect-card-description">
                        <a href="#section-skill" class="proyect-card-a">
                            <div>HTML5</div>
                        </a>
                        <a href="#section-skill" class="proyect-card-a">
                            <div>CSS3</div>
                        </a>
                    </div>
                </article>
            </section>
        </div>
    </section>

    <section class="section-certificates" id="section-certificates">
        <div class="section-certificates-content">
            <h3>Certificates</h3>
            <p class="p-generic-text-certificates">
                I was able to obtain these certificates through OpenWebinars.
            </p>
            <div class="certificate-card">
                <article class="cards-certificate">
                    <div class="certificate-card-img">
                        <a
                            href="Certificados/certificado_curso_de_html5_y_css3.pdf"
                            target="_blank"
                        >
                            <img
                                src={html5.src}
                                alt="certificado html5 y css3"
                            />
                        </a>
                    </div>
                    <div class="certificate-card-description">
                        <p>Curse of HTML5 y CSS3</p>
                    </div>
                </article>
                <article class="cards-certificate">
                    <div class="certificate-card-img">
                        <a
                            href="Certificados/certificado_curso_de_maquetación_web_con_css.pdf"
                            target="_blank"
                        >
                            <img
                                src={cssmaquetado.src}
                                alt="certificado de curso de maquetación web con css"
                            />
                        </a>
                    </div>
                    <div class="certificate-card-description">
                        <p>Web layout course with CSS</p>
                    </div>
                </article>
                <article class="cards-certificate">
                    <div class="certificate-card-img">
                        <a
                            href="Certificados/certificado_fundamentos_de_javascript.pdf"
                            target="_blank"
                        >
                            <img
                                src={jsbasic.src}
                                alt="certificado fundamentos de javascript"
                            />
                        </a>
                    </div>
                    <div class="certificate-card-description">
                        <p>Curse of fundaments of JavaScript</p>
                    </div>
                </article>
                <article class="cards-certificate">
                    <div class="certificate-card-img">
                        <a
                            href="Certificados/certificado_aumenta_tu_productividad_con_visual_studio_code.pdf"
                            target="_blank"
                        >
                            <img
                                src={vsc.src}
                                alt="certificado aumento de productividad con visual studio code"
                            />
                        </a>
                    </div>
                    <div class="certificate-card-description">
                        <p>Curse of increase your productivity with VSC</p>
                    </div>
                </article>
                <article class="cards-certificate">
                    <div class="certificate-card-img">
                        <a
                            href="Certificados/certificado_java_desde_0__introducción.pdf"
                            target="_blank"
                        >
                            <img
                                src={javadesde0.src}
                                alt="certificado java desde 0 introducción"
                            />
                        </a>
                    </div>
                    <div class="certificate-card-description">
                        <p>Curse of Java</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>